@import "../base/variables.css";

.layout {
  min-height: 100dvh; /* używamy dvh zamiast vh */
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-white);
  font-family: var(--font-family);
  overflow-x: hidden;
  overflow-y: hidden; /* zapobiega poziomemu scrollowaniu całej strony */
  position: relative;
  padding-bottom: env(
    safe-area-inset-bottom
  ); /* dodajemy padding dla bezpiecznego obszaru */
}

.layout__content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--container-max-width);
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 var(--container-padding);
  padding-bottom: env(
    safe-area-inset-bottom
  ); /* dodajemy padding dla bezpiecznego obszaru */
  position: relative;
}

/* @media (max-width: 1500px)  */

/* Dodajemy style dla footera */
.footer {
  margin-top: auto;
  padding-bottom: env(
    safe-area-inset-bottom
  ); /* dodajemy padding dla bezpiecznego obszaru */
}

/* Media query dla urządzeń mobilnych */
@media screen and (max-width: 768px) {
  .layout {
    padding-bottom: calc(
      env(safe-area-inset-bottom) + 60px
    ); /* dodatkowy padding na dole */
  }
  .layout__content {
    margin-bottom: 0px;
  }
}
