@import "../base/variables.css";

.contact {
  height: 100%;
  padding: 24px var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__content {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contact__footer {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  width: 100%;
  max-width: 1000px;
}

.contact__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact__section-title {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact__section p {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

.contact__section a {
  display: block;
  color: var(--color-text);
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.contact__section a:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .contact {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .contact__content {
    height: 100%;
    width: 100%;
  }

  .contact__footer {
    flex-direction: column;
    gap: 40px;
  }

  .contact__section-title {
    font-size: 16px;
  }

  .contact__section p,
  .contact__section a {
    font-size: 12px;
  }
  @media (max-width: 390px) {
    .contact__footer {
      gap: 10px;
    }
  }
}
