@import "./base/variables.css";
@import "./layout/layout.css";
@import "./layout/navbar.css";
@import "./layout/footer.css";
@import "./components/cards.css";
@import "./pages/main.css";
@import "./base/reset.css";
@import "./pages/proposetrip.css";
@import "./components/cards/full-card.css";
@import "./components/ui/funding-popups.css";
@import "./pages/funding-page.css";
@import "./pages/contact.css";
@import "./pages/references.css";
@import "./pages/about.css";
@import "./pages/policy.css";
@import "./components/ui/image-carousel.css";

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
