@import "../../base/variables.css";

.full-card {
  position: relative;
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
}
.full-card__content {
  display: flex;
}
.full-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  background: #2955a4;
  border-radius: 35px;
  padding: 25px;
}

.full-card__title-circle {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 450px;
  top: 5px;
  background: #ef5022;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.full-card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 53px;
  color: #ffffff;
  text-align: center;
}

.full-card__image-container {
  width: 400px;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 0;
}

.full-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-card__description {
  width: 800px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 150px;
  margin-top: 80px;
}

.full-card__actions {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: auto;
  padding-top: 10px;
}

.full-card__action-button {
  width: 250px;
  height: 45px;
  background: #ffffff;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #e85024;
  cursor: pointer;
  transition: all 0.3s ease;
}

.full-card__action-button:hover {
  background: #e85024;
  color: #ffffff;
}

@media screen and (max-width: 1466px) {
  .full-card__header {
    width: 85%;
    padding: 20px;
  }

  .full-card__image-container {
    width: 250px;
    height: 300px;
  }
  .full-card__description {
    width: 700px;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 30px;
  }

  .full-card__title-circle {
    width: 100px;
    height: 100px;
    left: 280px;
  }
  .full-card__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .full-card__content {
    align-items: center;
  }
  .full-card__image-container {
    width: 200px;
    height: 300px;
    margin-left: 20px;
  }
  .full-card__title-circle {
    width: 80px;
    height: 80px;
    left: 520px;
    top: 5px;
  }
  .full-card__title {
    font-size: 14px;
  }
  .full-card__description {
    width: 800px;
    font-size: 17px;
    margin-left: 40px;
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  .full-card__image-container {
    width: 210px;
    height: 250px;
    margin: 0 auto;
  }

  .full-card__title-circle {
    width: 90px;
    height: 90px;
    left: 430px;
    top: 10px;
  }

  .full-card__title {
    font-size: 18px;
  }

  .full-card__description {
    width: 80%;
    font-size: 15px;
    line-height: 20px;
    padding-top: 0px;
    max-height: 240px;
  }

  .full-card__actions {
    align-items: center;
    gap: 15px;
  }
  .full-card__action-button {
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .full-card__header {
    width: 90%;
    padding: 10px;
    min-height: auto;
  }

  .full-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .full-card__image-container {
    width: 200px;
    height: 250px;
    margin: 5px auto;
  }

  .full-card__description {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    margin: 5px 0;
    max-height: 210px;
    overflow-y: auto;
    padding: 0 5px;
  }
  .full-card__title-circle {
    width: 60px;
    height: 60px;
    left: 270px;
    top: 5px;
  }
  .full-card__title {
    font-size: 12px;
  }

  .full-card__actions {
    padding: 10px;
  }

  .full-card__action-button {
    height: 25px;
    font-size: 10px;
  }
}

@media screen and (max-width: 380px) {
  .full-card__header {
    width: 95%;
    padding: 8px;
  }

  .full-card__content {
    gap: 3px;
  }

  .full-card__image-container {
    height: 140px;
    width: 130px;
  }

  .full-card__title-circle {
    width: 50px;
    height: 50px;
    left: 225px;
  }

  .full-card__title {
    font-size: 10px;
    line-height: 14px;
  }

  .full-card__description {
    font-size: 11px;
    line-height: 13px;
    max-height: 185px;
    margin: 3px 0;
  }

  .full-card__actions {
    margin-top: 3px;
    gap: 3px;
  }
}
